html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.settingTextArea,
.settingInput input,
.settingDropdown.ui.selection.dropdown,
.settingDropdown .item {
  background-color: #262a33 !important;
  color: white !important;
}